*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: monospace;
  font-size: 1rem;
}

body {
  background-color: lightblue;
}

a,
:active,
:hover,
:focus,
:visited {
  text-decoration: none;
  color: #000;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 150px;
  padding: 0 20px;
}

.main-header__buttons {
  display: flex;
  gap: 20px;
}

.buttons-header {
  color: #fff;
}
