*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

html {
  font-family: monospace;
  font-size: 1rem;
}

body {
  background-color: rgb(53, 147, 255);
}

a,
:active,
:hover,
:focus,
:visited {
  text-decoration: none;
}

button:hover {
  color: rgb(53, 147, 255);
  background-color: rgb(255, 221, 0);
}

button:active {
  background-color: red;
  color: #fff;
}

.root {
  padding: 20px 80px;
}

.main-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

.main-header__buttons {
  display: none;
}

.cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  padding: 60px 0;
}

.card {
  border-radius: 10px;
  background-color: rgb(215, 237, 241);
  width: 120px;
  height: 140px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
  box-shadow: rgb(62, 62, 62) 10px 7px 15px;
  font-size: 0.5rem;
}

.card__image {
  height: 70px;
  width: 70px;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding: 60px;
  color: #fff;
  font-size: 1.5rem;
}

.footer-content__button {
  border: none;
  border-radius: 10px;
  width: 80px;
  padding: 10px;
  cursor: pointer;
  font-family: monospace;
}

@media (min-width: 700px) {
  .main-header {
    flex-direction: row;
    height: 100px;
    padding: 60px 60px;
  }

  .main-header__buttons {
    display: flex;
    gap: 30px;
  }

  .buttons-header {
    color: rgb(255, 255, 255);
    font-size: 1.2rem;
  }

  .cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    justify-content: center;
  }

  .card {
    border-radius: 10px;
    background-color: rgb(215, 237, 241);
    width: 250px;
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    box-shadow: rgb(0, 0, 0) 10px 7px 20px;
    font-size: 1rem;
  }

  .card__image {
    width: 110px;
    height: 110px;
  }

  .header-logo {
    height: 150px;
    width: 200px;
  }

  .footer-content {
    padding: 70px;
  }
}
